{{!--
Re-usable card for linking to posts
--}}

<article class="{{post_class}} border border-black/20 rounded overflow-hidden bg-gray-50/50 shadow-md hover:shadow-xl transition-shadow duration-300 {{#if @first}}sm:col-span-2 md:col-span-3{{/if}}">
  <a class="flex flex-col {{^if @first}}max-h-[540px] h-full{{/if}}" href="{{url}}">
      {{#if feature_image}}
        <div class="w-full h-1/2">
          <picture>
            <source 
              srcset="
              {{img_url feature_image size="xxs" format="webp"}} 30w,
              {{img_url feature_image size="xs" format="webp"}} 100w,
              {{img_url feature_image size="s" format="webp"}} 300w,
              {{img_url feature_image size="m" format="webp"}} 600w,
              {{img_url feature_image size="l" format="webp"}} 1200w,
              {{img_url feature_image size="xl" format="webp"}} 2000w"
              {{^if @first}}sizes="(min-width: 1200px) 1200px, 100vw)"{{else}}sizes="(min-width: 800px) 100vw, 700px"{{/if}}
              type="image/webp"
              {{^if @first}}loading="lazy"{{/if}}
            >
            <img
              class="w-full h-full {{#if @first}}aspect-[16/9]{{/if}}"
              srcset="
              {{img_url feature_image size="xxs"}} 30w,
              {{img_url feature_image size="xs"}} 100w,
              {{img_url feature_image size="s"}} 300w,
              {{img_url feature_image size="m"}} 600w,
              {{img_url feature_image size="l"}} 1200w,
              {{img_url feature_image size="xl"}} 2000w"
              {{^if @first}}sizes="(min-width: 1200px) 1200px, 100vw)"{{else}}sizes="(min-width: 800px) 100vw, 700px"{{/if}}
              src="{{img_url feature_image size="m"}}"
              alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
              {{^if @first}}loading="lazy"{{/if}}
            >
          </picture>
        </div>
      {{/if}}
      <div class="p-4 text-center">
        <span><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time></span>
        <h2 class="text-3xl {{^if @first}}text-xl mr-4{{/if}}">{{title}}</h2>
        <p class="my-4 {{#if @first}}text-base md:text-lg{{else}}text-xs md:text-sm{{/if}} leading-snug">{{excerpt}}</p>
        <strong>...Read more</strong>
      </div>
  </a>
</article>
