
<div class="page-container content-container">
    <div class="relative flex">
        <div class="relative xl:sticky xl:top-20 flex-none h-[calc(100vh-5rem)]">
            <div class="hidden lg:block absolute h-full top-0 left-0 -translate-x-full h-full w-screen">
                <div class="bg-gray-100 lg:bg-transparent w-full h-full"></div>
            </div>
            <!-- Mobile Menu Toggle -->
            <button class="fixed z-20 top-20 lg:top-36 xl:40 left-4 sm:left-8 flex items-center justify-center leading-none bg-brand-blue/70 text-white hover:text-brand-blue hover:bg-white hover:border border-brand-blue w-12 h-12 rounded-full shadow-lg lg:hidden block" id="sidebar-toggle">
                <div>
                    <span class="block w-6 h-0.5 bg-[currentColor] mb-1"></span>
                    <span class="block w-6 h-0.5 bg-[currentColor] mb-1"></span>
                    <span class="block w-6 h-0.5 bg-[currentColor]"></span>
                </div>
            </button>
            <div id="sidebar" class="fixed bg-gray-100 lg:bg-transparent lg:relative top-16 pl-12 lg:pl-0 left-0 lg:top-0 h-full z-20 text-gray-900 border-tr border-gray-200 lg:border-0">        
                <button id="sidebar-close" class="block absolute top-2 right-2 w-6 h-6 lg:top-6 lg:hidden hover:text-gray-400">{{> icons/chevron-left }}</button>
                <aside class="w-[280px] pr-4 py-16 h-full overflow-y-auto">
                    {{#frontPage}}
                        <nav>
                            <div class="mb-4">
                                <a href="{{url}}" class="text-lg font-semibold {{#match ../currentSlug "=" slug}}active{{else}} hover:text-brand-blue{{/match}}">{{title}}</a>
                            </div>
                        </nav>
                    <ul>
                            {{#foreach tags}}
                                <li>
                                    <button class="collapse-toggle hover:text-[var(--ghost-accent-color)]">
                                        <div class="flex items-center gap-4 mb-4">
                                            {{!-- <span class="w-4 h-4">{{>icons/square}}</span> --}}
                                            <h4 class="font-bold text-base">{{name}}</h4>
                                            <div class="chevron w-4 h-4 transform">{{> icons/chevron-down}}</div>
                                        </div>
                                    </button>
                                    <ul
                                    {{!-- set menu collapse logic here, if is the front page, expand first section, else expand section of current doc --}}
                                    {{#match ../slug "=" ../../currentSlug }}
                                        class="collapsible-section {{#@first}}expand{{/@first}}"
                                    {{else}}
                                        class="collapsible-section {{#foreach ../../post.tags as |postTag|}}{{#match postTag.slug "=" ../slug}}expand{{/match}}{{/foreach}}"
                                    {{/match}}
                                    >
                                        {{#get "pages" filter="tags:{{slug}}+tags:hash-doc" limit="all" order="published_at asc"}}
                                            {{#foreach pages as |page|}}
                                                <li class="mb-2 ml-4 flex items-start hover:text-[var(--ghost-accent-color)]">
                                                    {{!-- <div class="w-4 h-4 mr-4 mt-1 flex-none">{{>icons/paragraph}}</div> --}}
                                                    <a href="{{page.url}}" class="{{#match ../../../../currentSlug "=" page.slug}}active font-semibold underline{{else}} hover:text-[var(--ghost-accent-color)]{{/match}}">
                                                        {{page.title}}
                                                    </a>
                                                </li>
                                            {{/foreach}}
                                        {{/get}}
                                    </ul>
                                </li>
                            {{/foreach}}
                        </ul>
                    {{/frontPage}}
                </aside>
            </div>
        </div>
        <div class="flex-auto basis-0 min-w-0">
            {{#post}}
            <article class="gh-article relative leading-snug text-base lg:text-lg {{post_class}}">
                <header id="doc-header" class="gh-header gh-canvas text-left mt-12 md:mt-0">

                    <h1 id="main-heading" class="text-4xl lg:text-6xl text-left">{{title}}</h1>

                    {{#if custom_excerpt}}
                    <p class="gh-excerpt text-left">{{custom_excerpt}}</p>
                    {{/if}}

                    {{#if feature_image}}
                    <figure class="gh-feature-image">
                        <picture>
                            <source 
                            srcset="
                            {{img_url feature_image size="xxs" format="avif"}} 30w,
                            {{img_url feature_image size="xs" format="avif"}} 100w,
                            {{img_url feature_image size="s" format="avif"}} 300w,
                            {{img_url feature_image size="m" format="avif"}} 600w,
                            {{img_url feature_image size="l" format="avif"}} 1200w,
                            {{img_url feature_image size="xl" format="avif"}} 2000w"
                            sizes="(min-width: 1200px) 1200px, 90vw" 
                            type="image/avif"
                            >
                            <source 
                            srcset="
                            {{img_url feature_image size="xxs" format="webp"}} 30w,
                            {{img_url feature_image size="xs" format="webp"}} 100w,
                            {{img_url feature_image size="s" format="webp"}} 300w,
                            {{img_url feature_image size="m" format="webp"}} 600w,
                            {{img_url feature_image size="l" format="webp"}} 1200w,
                            {{img_url feature_image size="xl" format="webp"}} 2000w"
                            sizes="(min-width: 1200px) 1200px, 90vw" 
                            type="image/webp"
                            >
                            <img
                            srcset="
                            {{img_url feature_image size="xxs"}} 30w,
                            {{img_url feature_image size="xs"}} 100w,
                            {{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1200w,
                            {{img_url feature_image size="xl"}} 2000w"
                            sizes="(min-width: 1200px) 1200px, 90vw" 
                            src="{{img_url feature_image size="l"}}"
                            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                            >
                        </picture>
                        {{#if feature_image_caption}}
                            <figcaption>{{feature_image_caption}}</figcaption>
                        {{/if}}
                    </figure>
                    {{/if}}
                </header>

                <div id="doc-content" class="gh-content gh-canvas">
                    {{content}}
                </div>

                <footer class="mt-8 gh-footer gh-canvas">

                    {{#if comments}}
                    <section class="gh-post-comments">
                        {{comments}}
                    </section>
                    {{/if}}

                </footer>

            </article>
            {{#match ../frontPage.slug "=" ../currentSlug }}
            {{!-- if the doc viewer's 'front page' show the nav links for each section (will route to first post in each section) --}}
                <div class="max-w-[720px] mx-auto">
                    <h3 class="mb-8">Explore {{title}}:</h3>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 w-full">
                    {{#foreach tags}}
                        {{#get 'pages' filter="tags:{{slug}}+tags:hash-doc" limit="1" order="published_at asc"}}
                            {{#foreach pages}}
                                <a class="p-4 border border-gray-100 rounded shadow hover:shadow-xl" href="{{url}}">
                                    <div class="w-full h-full flex flex-col justify-center">
                                        <div class="text-lg font-semibold overflow-hidden whitespace-nowrap text-ellipsis">{{../../name}}</div>
                                        {{#if ../../description}}
                                            <p class="line-clamp-2 mt-4 text-sm">{{../../description}}</p>
                                        {{/if}}
                                    </div>
                                </a>
                            {{/foreach}}
                        {{/get}}
                    {{/foreach}}
                    </div>
                </div>
            {{/match}}
            <aside class="font-sans w-full py-8">
                <div class="flex justify-between gap-8 px-8 text-lg font-semibold w-full">
                    <div>
                        <a id="prev-link" href="#" class="hidden flex items-center gap-4 p-4 border border-gray-100 text-gray-500 rounded bg-gray-50/50 hover:text-gray-400 shadow hover:shadow-xl">
                            <span class="w-4 h-6 flex-none">{{>"icons/arrow-left"}}</span>
                            <h4 class="text-base lg:text-xl">Previous</h4>
                        </a>
                    </div>
                    <div>
                        <a id="next-link" href="#" class="hidden flex items-center gap-4 p-4 border border-gray-100 text-gray-500 rounded bg-gray-50/50 hover:text-gray-400 shadow hover:shadow-xl">
                            <h4 class="text-right text-base lg:text-xl">Next</h4>
                            <span class="w-4 h-6 flex-none">{{>"icons/arrow-right"}}</span>
                        </a>
                    </div>
                </div>
            </aside>
        </div>
        {{> toc title=title }}
        {{/post}}
    </div>
</div>