
<div class="page-container content-container">
    <div class="relative flex">
        <div class="relative lg:sticky lg:top-20 flex-none h-[calc(100vh-5rem)]">
            <!-- Mobile Menu Toggle -->
            <div class="fixed z-20 top-16 left-0 w-full bg-gray-100 lg:hidden">
                <div class="content-container py-4 flex items-center">
                    <button class="text-gray-400 hover:text-gray-600 lg:hidden block" id="sidebar-toggle">
                        <span class="block w-6 h-0.5 bg-[currentColor] mb-1"></span>
                        <span class="block w-6 h-0.5 bg-[currentColor] mb-1"></span>
                        <span class="block w-6 h-0.5 bg-[currentColor]"></span>
                    </button>

                    <div class="ml-8 text-sm font-semibold text-gray-400">
                        {{#is "post"}}
                        {{currentTag}}
                        <span class="mx-2">&gt;</span>
                        <span class="text-gray-600">
                            {{post.title}}
                        </span>
                        {{else}}
                            {{page.title}}
                        {{/is}}
                    </div>
                </div>
            </div>
            <div id="sidebar" class="fixed bg-white lg:bg-transparent lg:relative top-16 pl-12 lg:pl-0 left-0 lg:top-0 h-full z-20 text-gray-900 border-tr border-gray-200 lg:border-0">        
                <div class="absolute h-full left-full w-screen bg-black/50 backdrop-blur-sm lg:hidden"></div>
                <button id="sidebar-close" class="block absolute top-2 right-2 w-6 h-6 lg:top-6 lg:hidden hover:text-gray-400">{{> icons/x }}</button>
                <aside class="w-[240px] pr-4 py-16 h-full overflow-y-auto text-gray-600">
                    {{#page}}
                        <nav>
                            <ul>
                                {{#foreach tags}}
                                    <li class="mb-8">
                                        <button class="collapse-toggle hover:text-[var(--ghost-accent-color)]">
                                            <div class="flex items-center gap-4 mb-2">
                                                <h4 class="font-bold text-base text-inherit">{{name}}</h4>
                                                <div class="chevron w-2 h-2 transform">{{> icons/chevron-down}}</div>
                                            </div>
                                        </button>
                                        <ul
                                        {{!-- set menu collapse logic here, if is the front page, expand first section, else expand section of current doc --}}
                                        {{#is 'page' }}
                                            class="collapsible-section {{#@first}}expand{{/@first}}"
                                        {{else}}
                                            class="collapsible-section {{#foreach ../../post.tags as |postTag|}}{{#match postTag.slug "=" ../slug}}expand{{/match}}{{/foreach}}"
                                        {{/is}}
                                        >
                                            {{#get "posts" filter="tags:{{slug}}+tags:hash-docs" limit="all" order="published_at asc"}}
                                                {{#foreach posts as |post|}}
                                                    <li class="mb-2 ml-4 flex items-start hover:text-[var(--ghost-accent-color)]">
                                                        <a href="{{post.url}}" class="{{#match ../../../../currentSlug "=" post.slug}}active font-semibold{{else}} hover:text-[var(--ghost-accent-color)]{{/match}}">
                                                            {{post.title}}
                                                        </a>
                                                    </li>
                                                {{/foreach}}
                                            {{/get}}
                                        </ul>
                                    </li>
                                {{/foreach}}
                            </ul>
                        </nav>
                    {{/page}}
                </aside>
            </div>
        </div>
        <div class="flex-auto basis-0 min-w-0">
            {{#post}}
            <article class="gh-article relative leading-snug text-lg {{post_class}}">
                <header id="doc-header" class="gh-header gh-canvas text-left mt-12 md:mt-0">
                    {{#is "post"}}
                    <div class="text-left text-base font-semibold text-gray-400 mb-4">{{../currentTag}}</div>
                    {{/is}}
                    <h1 id="main-heading" class="text-4xl text-left">{{title}}</h1>

                    {{#if custom_excerpt}}
                    <p class="gh-excerpt text-left">{{custom_excerpt}}</p>
                    {{/if}}

                    {{#if feature_image}}
                    <figure class="gh-feature-image">
                        <picture>
                            <source 
                            srcset="
                            {{img_url feature_image size="xxs" format="avif"}} 30w,
                            {{img_url feature_image size="xs" format="avif"}} 100w,
                            {{img_url feature_image size="s" format="avif"}} 300w,
                            {{img_url feature_image size="m" format="avif"}} 600w,
                            {{img_url feature_image size="l" format="avif"}} 1200w,
                            {{img_url feature_image size="xl" format="avif"}} 2000w"
                            sizes="(min-width: 1200px) 1200px, 90vw" 
                            type="image/avif"
                            >
                            <source 
                            srcset="
                            {{img_url feature_image size="xxs" format="webp"}} 30w,
                            {{img_url feature_image size="xs" format="webp"}} 100w,
                            {{img_url feature_image size="s" format="webp"}} 300w,
                            {{img_url feature_image size="m" format="webp"}} 600w,
                            {{img_url feature_image size="l" format="webp"}} 1200w,
                            {{img_url feature_image size="xl" format="webp"}} 2000w"
                            sizes="(min-width: 1200px) 1200px, 90vw" 
                            type="image/webp"
                            >
                            <img
                            srcset="
                            {{img_url feature_image size="xxs"}} 30w,
                            {{img_url feature_image size="xs"}} 100w,
                            {{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1200w,
                            {{img_url feature_image size="xl"}} 2000w"
                            sizes="(min-width: 1200px) 1200px, 90vw" 
                            src="{{img_url feature_image size="l"}}"
                            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                            >
                        </picture>
                        {{#if feature_image_caption}}
                            <figcaption>{{feature_image_caption}}</figcaption>
                        {{/if}}
                    </figure>
                    {{/if}}
                </header>

                <div id="doc-content" class="gh-content gh-canvas max-w-[100%] text-lg">
                    {{content}}
                </div>

                <footer class="mt-8 gh-footer gh-canvas">

                    {{#if comments}}
                    <section class="gh-post-comments">
                        {{comments}}
                    </section>
                    {{/if}}

                </footer>

            </article>
            {{#is "page" }}
            {{!-- if the doc viewer's 'front page' show the nav links for each section (will route to first post in each section) --}}
                <div class="gh-canvas mx-auto">
                    <h3 class="mb-8">Explore {{title}}:</h3>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 w-full">
                    {{#foreach tags}}
                        {{#get 'posts' filter="tags:{{slug}}+tags:hash-docs" limit="1" order="published_at asc"}}
                            {{#foreach posts}}
                                <a class="p-4 border border-gray-100 rounded shadow hover:shadow-lg" href="{{url}}">
                                    <div class="w-full h-full flex flex-col justify-center">
                                        <div class="text-lg font-semibold overflow-hidden whitespace-nowrap text-ellipsis">{{../../name}}</div>
                                        {{#if ../../description}}
                                            <p class="line-clamp-2 mt-4 text-sm">{{../../description}}</p>
                                        {{/if}}
                                    </div>
                                </a>
                            {{/foreach}}
                        {{/get}}
                    {{/foreach}}
                    </div>
                </div>
            {{/is}}
            <aside class="font-sans gh-canvas py-8">
                <div class="flex justify-between gap-8 text-lg font-semibold w-full">
                    <div>
                        <a id="prev-link" href="#" class="hidden flex items-center gap-4 p-4 border border-gray-100 text-gray-500 rounded hover:text-gray-600 shadow hover:shadow-lg">
                            <span class="w-2 h-3 flex-none flex items-center">{{>"icons/arrow-left"}}</span>
                            <h4 class="text-base text-inherit">Previous</h4>
                        </a>
                    </div>
                    <div>
                        <a id="next-link" href="#" class="hidden flex items-center gap-4 p-4 border border-gray-100 text-gray-500 rounded hover:text-gray-600 shadow hover:shadow-lg">
                            <h4 class="text-right text-base text-inherit">Next</h4>
                            <span class="w-2 h-3 flex-none flex items-center">{{>"icons/arrow-right"}}</span>
                        </a>
                    </div>
                </div>
            </aside>
        </div>
        {{> toc }}
        {{/post}}
    </div>
</div>
