<footer id="main-footer" class="py-8 md:py-20 border border-0 border-t border-gray-200 bg-gray-100 text-gray-900">
    <div class="content-container flex flex-col md:flex-row items-center md:items-start justify-between">
        <div class="flex flex-col items-center md:!items-start">
            <div class="w-40 text-lg">
                <a href="{{@site.url}}">
                    {{#if @site.logo}}
                        <img src="{{@site.logo}}" alt="{{@site.title}}" width="100%" />
                    {{else}}
                        {{@site.title}}
                    {{/if}}
                </a>
            </div>
            <div class="my-4 text-sm">
                Published with <a href="https://ghost.org" class="hover:text-[var(--ghost-accent-color)]" target="_blank" rel="noopener">Ghost</a>
            </div>
        </div>
        <div class="flex flex-col items-center my-4 md:my-0">
            <span>Community</span>
            <div class="flex gap-4 mt-4">
                {{> social-links }}
            </div>
        </div>
        <div class="h-full text-center">
            <span>Explore further</span>
            <div class="w-40 text-sm md:text-base">
                {{navigation type="secondary"}}
            </div>
        </div>
    </div>
    <div class="content-container mt-4 flex justify-center md:justify-start">
        {{#if @custom.copyright}}
            <div class="text-sm">
                &copy; {{@custom.copyright}} All rights reserved.
            </div>
        {{/if}}
    </div>
</footer>
