<header id="main-header" class="sticky top-0 w-full flex items-center h-16 lg:h-20 z-20 border-b border-gray-100 bg-gray-50 z-40 lg:py-4">
    {{!-- <div id="header-bg" class="absolute inset-0 w-full h-full  -z-10"></div> --}}
    <nav class="content-container flex flex-row justify-between items-center h-full">

        <div class="text-2xl lg:text-3xl max-w-[150px] lg:max-w-[250px] mr-4 h-full">
            <a href="{{@site.url}}" class="flex items-center h-full">    
                {{#if @site.logo}}
                    <img src="{{@site.logo}}" alt="{{@site.title}}" class="w-auto h-full object-contain" />
                {{else}}
                    {{@site.title}}
                {{/if}}
            </a>
        </div>

        <div id="site-nav-menu" class="hidden lg:flex items-center font-semibold">
            {{> 'docSubnav' type='dropdown'}}
            {{navigation}}
        </div>
        
        <div class="hidden lg:block">
            <div class="flex items-center gap-4 font-semibold">
                <div class="search-link">{{search}}</div>
                {{#if @site.members_enabled}}
                    <a 
                        class="text-white block p-2 border border-brand-blue bg-brand-blue rounded font-semibold hover:bg-transparent hover:text-brand-blue transition"
                        href="{{^if @member}}{{@site.signup_url}}{{else}}#/portal/account{{/if}}"
                    >
                        {{^if @member}}Subscribe{{else}}Account{{/if}}
                    </a>
                {{/if}}
                <div id="secondary-nav">{{navigation type="secondary"}}</div>
            </div>
        </div>

        {{!-- mobile collapsible menu --}}

        <div class="relative flex items-center lg:hidden">
            <div class="search-link mr-2">{{search}}</div>
            <a id="mobile-menu-trigger" class="relative w-6 h-10 flex items-center justify-center rounded-md hover:text-[var(--ghost-accent-color)] hover:bg-gray-200" role="button" aria-label="menu">
                <div id="burger-icon" class="transition-all duration-300 ease-in-out">
                    <span class="block w-1 h-1 bg-[currentColor] mb-1 rounded-full"></span>
                    <span class="block w-1 h-1 bg-[currentColor] mb-1 rounded-full"></span>
                    <span class="block w-1 h-1 bg-[currentColor] rounded-full"></span>
                </div>
                <div id="chevron-icon" class="w-4 h-4 hidden transition-transform transform rotate-0 duration-300 ease-in-out">
                    {{> icons/chevron-down}}
                </div>
            </a>
            <div id="mobile-menu-container" class="fixed right-0 top-16 bg-gray-50 w-screen bg-gray-100 shadow-lg rounded-lg origin-top transition-all duration-300 ease-in-out z-20">
                <div class="p-4 text-xl text-gray-600">
                    {{navigation}}
                    <div class="h-px bg-gray-400 my-4"></div>
                        {{> 'docSubnav'}}
                    <div class="h-px bg-gray-400 my-4"></div>
                    {{#if @site.members_enabled}}
                        {{^if @member}}
                        <a class="block py-2 hover:text-[var(--ghost-accent-color)]" href="{{@site.signup_url}}">Subscribe</a>
                        {{else}}
                        <a class="block py-2 hover:text-[var(--ghost-accent-color)]" href="#/portal/account">Account</a>
                        {{/if}}
                    {{/if}}
                    {{navigation type="secondary"}}
                </div>
            </div>
        </div>
    </nav>
</header>