{{!< default}}

<div class="gh-page">
    <div class="content-container">

        {{#author}}
        <header class="gh-page-head">
            {{#if profile_image}}
                <img class="gh-author-image" src="{{profile_image}}" alt="{{name}}" />
            {{/if}}

            <h1>{{name}}</h1>
            {{#if bio}}
                <p>{{bio}}</p>
            {{/if}}

            <div class="gh-author-meta">
                <div class="gh-author-links">
                    {{#if website}}
                        <a href="{{website}}" target="_blank" rel="noopener">Website</a>
                    {{/if}}
                    {{#if twitter}}
                        <a href="{{twitter_url}}" target="_blank" rel="noopener">Twitter</a>
                    {{/if}}
                    {{#if facebook}}
                        <a href="{{facebook_url}}" target="_blank" rel="noopener">Facebook</a>
                    {{/if}}
                </div>
            </div>

            {{#if cover_image}}
                <img class="gh-page-image" src="{{cover_image}}" alt="{{name}}" />
            {{/if}}
        </header>
        {{/author}}

        {{!-- <div class="gh-postfeed">
        {{#foreach posts}}

            {{> "card"}} {{!-- partials/card.hbs --}}

        {{/foreach}}
        </div> --}}

        <div class="mx-auto my-16 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 max-w-[980px]">
            {{#foreach posts}}
                {{> "card" }}
            {{/foreach}}
        </div>

    </div>
</div>
