<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{asset "built/index.css"}}" />
    <link rel="stylesheet" href="{{asset "built/tailwind.css"}}" />
    <link rel="stylesheet" href="{{asset "built/stencila-web/themes/default.css"}}">

    <script src="{{asset "built/index.js"}}" defer></script>
    <script src="{{asset "built/stencila-web/views/dynamic.js"}}"></script>


    <title>{{meta_title}}</title>

    {{ghost_head}}
    {{!-- Outputs important meta data and settings, should always be in <head> --}}

</head>
<body class="{{body_class}}">
<div class="gh-viewport">

    <header id="gh-head" class="sticky top-0 w-full flex items-center h-20 lg:h-32 z-20 border-b border-black/20 bg-white z-40">
        <nav class="container mx-auto px-2 flex flex-row justify-between items-center">
            <div class="text-2xl lg:text-3xl max-w-[150px] lg:max-w-[250px] mr-4">
                <a href="{{@site.url}}">    
                    {{#if @site.logo}}
                        <img src="{{@site.logo}}" alt="{{@site.title}}" width="100%" />
                    {{else}}
                        {{@site.title}}
                    {{/if}}
                </a>
            </div>
            <div class="gh-head-menu flex items-center">
                {{navigation}}
            </div>
            <a class="gh-burger" role="button" aria-label="menu">
                <div class="gh-burger-box">
                    <div class="gh-burger-inner"></div>
                </div>
            </a>
            <div class="gh-head-actions">
                <div class="gh-head-actions-list">
                    {{search}}
                    {{#if @site.members_enabled}}
                        {{^if @member}}
                        <a class="gh-button gh-button-small" href="{{@site.signup_url}}">Subscribe</a>
                        {{else}}
                        <a class="gh-button gh-button-small" href="#/portal/account">Account</a>
                        {{/if}}
                    {{/if}}
                </div>
            </div>
        </nav>
    </header>

    <main class="gh-main">
        {{{body}}}
        {{!-- All content gets inserted here, index.hbs, post.hbs, etc --}}
    </main>

    <footer class="gh-foot border border-0 border-t border-black/20">
        <div class="container mx-auto px-2 flex items-center justify-between">
            <div class="gh-foot-meta">
                Published with <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
            </div>
            <div class="flex gap-4">
                {{> social-links }}
            </div>
            <div class="gh-foot-menu">
                {{navigation type="secondary"}}
            </div>
        </div>
    </footer>

</div>

{{!-- <foot> --}}
{{ghost_foot}}
{{!-- Outputs important scripts - should always be included before closing body tag --}}

</body>
</html>
