<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{asset "built/index.css"}}" />
    <link rel="stylesheet" href="{{asset "built/tailwind.css"}}" />
    <link rel="stylesheet" href="{{asset "built/stencila-web/themes/nodes.css"}}">
    <link rel="stylesheet" href="{{asset "built/stencila-web/views/ghost.css"}}">

    <script src="{{asset "built/index.js"}}" defer></script>
    <script src="{{asset "built/stencila-web/views/ghost.js"}}"></script>


    <title>{{meta_title}}</title>

    {{ghost_head}}
    {{!-- Outputs important meta data and settings, should always be in <head> --}}

</head>

<body class="{{body_class}}">
<div class="gh-viewport">

{{> header }}

<main class="gh-main">

    <section class="gh-page gh-error">
        <div class="container mx-auto px-2">

            <section class="gh-error-content">

                <h1 class="gh-error-code">{{statusCode}}</h1>
                <p class="gh-error-description">{{message}}</p>
                <p class="gh-error-link"><a href="{{@site.url}}">Go to the front page →</a></p>

                {{#if errorDetails}}
                <section class="gh-error-stack">
                    <h4>Theme errors:</h4>
                    <ul class="gh-error-stack-list">
                        {{#foreach errorDetails}}
                        <li>
                            <h5 class="gh-error-stack-function">{{{rule}}}</h5>

                            {{#foreach failures}}
                            <span class="gh-error-stack-file"><strong>Ref:</strong> {{ref}}</span><br>
                            <span class="gh-error-stack-file"><strong>Message:</strong> {{message}}</span>
                            {{/foreach}}
                        </li>
                        {{/foreach}}
                    </ul>
                </section>
                {{/if}}

            </section>

        </div>
    </section>

</main>

<footer class="gh-foot">
    <div class="max-w-[1200px] mx-auto px-2">
        <div class="gh-foot-menu">
            {{navigation type="secondary"}}
        </div>
        <div class="gh-foot-meta">
            Published with <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
        </div>
    </div>
</footer>

</div>

{{!-- <foot> --}}
{{ghost_foot}}
{{!-- Outputs important scripts - should always be included before closing body tag --}}

</body>
</html>