{{!< default}}

{{#post}}
<div class="content-container">
    <article class="gh-article {{post_class}}">
        {{#match @page.show_title_and_feature_image}}
        <header class="gh-header gh-canvas">
            {{#if feature_image}}
                <figure class="gh-feature-image">
                    <img src="{{feature_image}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" />
                    {{#if feature_image_caption}}
                        <figcaption>{{feature_image_caption}}</figcaption>
                    {{/if}}
                </figure>
                <h1 class="mt-16 text-4xl lg:text-5xl">{{title}}</h1>
            {{/if}}
        </header>
        {{/match}}

        <div class="gh-content gh-canvas">
            {{content}}
        </div>

        <aside class="w-full gh-canvas">
            {{> "forms/subscribe"}}
        </aside>
    </article>
</div>
{{/post}}
