{{!< default}}

{{#post}}
    {{#has tag="#doc"}}
        {{#get "pages" filter="slug:docview" limit="1" include="tags" }}
            {{#foreach pages limit="1" as |page|}}
                {{> docviewer post=../.. page=page currentSlug=../../slug }}    
            {{/foreach }}
        {{/get}}
    {{else}}
        <div class="max-w-[1200px] mx-auto px-2">
            <article class="gh-article relative {{post_class}} font-serif leading-snug text-base lg:text-lg">
                <header class="gh-header gh-canvas">
                    <span class="absolute top-4 right-0">
                        {{#foreach authors}}<a href="{{url}}" class="hover:text-gray-400">{{name}}</a> &bull; {{/foreach}}
                        <span class="uppercase">{{reading_time}}</span>
                    </span>
                    <h1 class="text-3xl lg:text-5xl">{{title}}</h1>

                    {{#if custom_excerpt}}
                    <p class="gh-excerpt">{{custom_excerpt}}</p>
                    {{/if}}

                    {{#if feature_image}}
                    <figure class="gh-feature-image">
                        <picture>
                            <source 
                            srcset="
                            {{img_url feature_image size="xxs" format="avif"}} 30w,
                            {{img_url feature_image size="xs" format="avif"}} 100w,
                            {{img_url feature_image size="s" format="avif"}} 300w,
                            {{img_url feature_image size="m" format="avif"}} 600w,
                            {{img_url feature_image size="l" format="avif"}} 1200w,
                            {{img_url feature_image size="xl" format="avif"}} 2000w"
                            sizes="(min-width: 1200px) 1200px, 90vw" 
                            type="image/avif"
                            >
                            <source 
                            srcset="
                            {{img_url feature_image size="xxs" format="webp"}} 30w,
                            {{img_url feature_image size="xs" format="webp"}} 100w,
                            {{img_url feature_image size="s" format="webp"}} 300w,
                            {{img_url feature_image size="m" format="webp"}} 600w,
                            {{img_url feature_image size="l" format="webp"}} 1200w,
                            {{img_url feature_image size="xl" format="webp"}} 2000w"
                            sizes="(min-width: 1200px) 1200px, 90vw" 
                            type="image/webp"
                            >
                            <img
                            srcset="
                            {{img_url feature_image size="xxs"}} 30w,
                            {{img_url feature_image size="xs"}} 100w,
                            {{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1200w,
                            {{img_url feature_image size="xl"}} 2000w"
                            sizes="(min-width: 1200px) 1200px, 90vw" 
                            src="{{img_url feature_image size="l"}}"
                            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                            >
                        </picture>
                        {{#if feature_image_caption}}
                            <figcaption>{{feature_image_caption}}</figcaption>
                        {{/if}}
                    </figure>
                    {{/if}}
                </header>

                <div class="gh-content gh-canvas">
                    {{content}}
                </div>

                <footer class="mt-16 gh-footer gh-canvas text-base">

                    <div class="gh-post-authors">
                        Written by {{#foreach authors}}<a class="hover:text-[var(--ghost-accent-color)]" href="{{url}}">{{name}}</a>{{/foreach}}
                    </div>

                    {{#if comments}}
                    <section class="gh-post-comments">
                        {{comments}}
                    </section>
                    {{/if}}

                </footer>
            </article>        
            <aside class="font-sans w-full py-8">
                <div class="flex justify-between gap-8 px-8 text-lg font-semibold w-full">
                    <div>
                        {{#next_post in="primary_tag"}}<a href="{{url}}" class="flex items-center gap-4 p-4 border border-black rounded-md hover:text-gray-400 hover:border-gray-400 shadow-md hover:shadow-xl">
                            <span class="w-4 h-6 flex-none">{{>"icons/arrow-left"}}</span>
                            <h4 class="text-base lg:text-xl">{{title}}</h4>
                        </a>{{/next_post}}
                    </div>
                    <div >
                        {{#prev_post in="primary_tag"}}<a href="{{url}}" class="flex items-center gap-4 p-4 border border-black rounded-md hover:text-gray-400 hover:border-gray-400 shadow-md hover:shadow-xl">
                            <h4 class="text-right text-base lg:text-xl">{{title}}</h4>
                            <span class="w-4 h-6 flex-none">{{>"icons/arrow-right"}}</span>
                        </a>{{/prev_post}}
                    </div>
                </div>
            </aside>
        </div>
    {{/has}}
{{/post}}
