{{!< default}}

<div class="gh-page">
    <div class="gh-container">

        {{#tag}}
        <header class="gh-page-head">

            <h1>{{name}}</h1>

            <p>
                {{#if description}}
                    {{description}}
                {{else}}
                    {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
                {{/if}}
            </p>

            {{#if feature_image}}
                <img class="gh-page-image" src="{{feature_image}}" alt="{{name}}" />
            {{/if}}

        </header>
        {{/tag}}
        <div class="mx-auto my-16 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
            {{#foreach posts}}
                {{> "card"}}
            {{/foreach}}
        </div>
    </div>
</div>
